.card-container
{
  display: flex;

  .card
  {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 16px;

    .image
    {
      width: 416px;
      height: 312px;
      background-image: url('../public/ai-1.avif');
      background-position: center;
      background-size: cover;
      border-radius: 16px 16px 0 0;
    }

    .info-wrap
    {
      .model-and-author
      {
        justify-content: space-between;
        display: flex;
        align-items: center;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
      }

      .tag-and-share
      {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}